<html>
<head>
    <link rel="icon" type="image/x-icon" href="images/image12.png">
    <title>Online Insurance Company </title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <table  height="100%" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td height="15%" colspan="2">
                <ul>
                    <a href="/"><img src="images/image25.jpeg" height="100px" width="20%">
                    </a>
                    <li><a href="mailto:someone@example.com"><br><br>Help</a></li>
                    <li><a href="policy (1).html"><br><br>Our Policies</a></li>
                    <li><a href="#"><br><br>How It Works</a></li>
                    <li><a href="book.html"><br><br>Policies and Insurance</a></li>
                    <li><a href="Signin.html"><br><br>Signin</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <section class="a">  
                    <div class="lalit"><b>"We insure your life. Because you never know."</b></div>      
                    <div class="b">
                        <H1>Explore. Apply. Insure.</H1>
                    </div>
                    <div class="d">
                        <br><br><br><br><br><br><br><br>
                        <b><h3>Apply for Policies</h3></b>
                        <form action="" class="c">
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <button type="submit"><a href="Signin.html">Apply Now!</a></button>
                        </form>
                    </div>
                </section>
            </td>
        </tr>
        <tr>
    </table>
    <h1 class="heading">DO INSURE .NOT RISK</h1>
        
            <h4><u>Hassle Free Selection of Insurance Plans</u></h4>
            <br><br><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            
            <img src="images/image10.jpeg" alt="loading" height="40%" width ="30%">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp
            <img src="images/image23.jpeg" alt="loading" height="40%" width ="30%">
            <br><br><br>
    <section class="data">
        <div class="lol">
        <h2>Term Insurance</h2>
            <br><b>
                *High life cover at cost-effective premiums <br>
                *Critical Illness Coverage <br>
                *Policy break in case of adverse circumstances <br>
                *Tax Benefits <br>
                *Different premium payment option <br>
        </b>
        </div>

        <div class="prerna">
            <h2>Investments Plan</h2>
            <br>
            <b>*Long term wealth accumulation <br>
                *Guaranteed Payouts <br>
                *Tax Benefits <br>
                *Financial protection throughout life <br>
                *Life Insurance protection for family</b>

        </div>
        </section>
        <br><br><br><br><br><br><br><br>
        <img src="images/image24.jpeg" alt="" id="nora">
    <h1 class="naya">HOW IT WORKS</h1>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/4CTFQhILQVk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="goa"></iframe></center>
    
    <br>
    <br>
    <br>
    <section class="new">
        <div class="new1">&nbsp&nbsp&nbsp&nbsp

            <img src="images\image7.png" alt="loading">
            <p>&nbsp&nbsp&nbsp&nbsp
                Book a
                <br>
                Terminal Illness Coverage
                <br> <br><br><br>
            </p>
        </div>
        <div class="new1">
            <img src="images\image8.png" alt="loading">
            <p>
                Coverage Against  <br>
                64 Critical Illness
                <br><br><br><br>
            </p>
        </div>        
        <div class="new1">
            <img src="images\image9.png" alt="loading">
            <p>
                Premium Break
                <br><br><br><br>
            </p>
        </div>
        <div class="new1">
            <img src="images\image28.png" alt="loading">
            <p>
                Income Tax Benifits
                <br><br><br><br>
            </p>
        </div>

            <table class="footer" height="50%" width="100%" bgcolor="#27313b">
                <tr>
                    <td><h1>Policy Works</h1>Online Insurance Managment</td>
                    <td><h2>Quick links</h2></td>
                    <td><h2>Legal stuff</h2></td>
                    <td><h2>We are here to make sure that you are always happy</h2></td>
                </tr>
                <tr>
                    <td>Sapphire Space, Bani Park,
                        Jaipur 302016, India</td>
                    <td>For corporates</td>
                    <td>Disclaimer</td>
                </tr>
                <tr>
                    <td>mind@nap.care</td>
                    <td>For therapists</td>
                    <td>Privacy policy</td>
                </tr>
                <tr>
                    <td>+918900987890</td>
                    <td>Contact</td>
                    <td>Terms of service</td>
                    
                </tr>
                <tr>
                    <td>icons</td>
                    <td>About us</td>
                </tr>
                <tr>
                    <td height="5%" bgcolor="white" id="last" colspan="4"><h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        If you are in a life-threatening situation. Use these resources to get immediate help.
                        ©mindnap. All rights reserved.</h3></td>
                </tr>
            </table>
        </p>
</body>
</html>
    