*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.topnav1 {
    overflow: hidden;
    background-color: white;
    
  }
  
.topnav1 a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: medium;
    font-weight: bolder;
  }

.topnav1 a.active{
    float: left;
  }
.topnav1 a.active {
    background-color: white;
    color: black;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
.soham{

    font-family: Georgia, 'Times New Roman', Times, serif;

}
.soham h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 400%;
    font-weight: bold;
    margin-top: 50%;

}

.soham .fork{
    margin-left:20%;
}

.y1{
    color: black;
    position:absolute;
    left: 55%;
    transform: translate(-50%, -50%);
}


table {
    border-spacing: 90px;
  }

.don{
    margin-top: 15%;
    position: absolute;
}

.m3{
    font-size: larger;
}